body{
    background-color:  hsl(233, 47%, 7%);
    font-size: 15px;
    color: hsl(0, 0%, 100%);
    margin:0;
    padding: 0;

}

.violet{
    color:hsl(277, 64%, 61%);
}
.bold{
    font-weight: bold;
    font-size: 17px;
    color:hsl(0, 0%, 100%);
}
#main{
    font-family: "Inter";
    display:flex;
    max-width: 1000px;
    min-width: 300px;
    width:70%;
    margin:10% auto;
    background-color:  hsl(244, 38%, 16%);   
}

h1{
    font-size: 24px;
    color:hsl(0, 0%, 100%);
}
#content{
    padding: 5% 10% 0 10%;
    object-fit: contain;
    overflow: hidden;

}
#content p{
    color: hsla(0, 0%, 100%, 0.75);
}

#stat{
    overflow:visible;
    display:flex;
    flex-wrap:wrap;
    width: max-content;

}
#stat p{
    color:hsla(0, 0%, 100%, 0.6);
    margin-right: 10vh;
}
img{
    max-width: 450px;
    width: 45%;
    opacity:0.6;
    background-color: hsl(277, 64%, 61%);
}

footer{
    position: absolute;
    bottom: 0;
    margin-bottom: auto;
}